.u-section-1 {
  background-image: url("images/solutions.jpg");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 83vh;
}

.u-section-1 .u-sheet-1 {
  min-height: 94px;
}

.u-section-1 .u-group-1 {
  width: 559px;
  min-height: 37px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 104px auto 43px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
  position: relative;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.3rem;
  line-height: 1.5999999999999999;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-image: none;
  border-style: solid;
  margin: 27px auto 0 0;
  padding: 21px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 493px;
    min-height: 399px;
    margin-top: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 69.69% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: 384px;
    min-height: 400px;
    margin-top: 189px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 84.13% 50%;
    min-height: 10vh !important ;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 220px !important;
  }

  .u-section-1 .u-group-1 {
    min-height: 412px;
    margin-top: 265px;
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 192px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 114px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 191px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(26% - 20px));
  min-height: 250px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-1 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-2 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-3 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 643px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }
}
.u-section-3 {
  background-image: none;
  min-height: 1087px;
}

.u-section-3 .u-image-1 {
  height: 633px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: -169px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 504px;
  grid-gap: 26px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-1 {
  width: 220px;
  min-height: 197px;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-2 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-3 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-7 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-4 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-8 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-9 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-5 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-10 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-11 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-6 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-12 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-12 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-text-13 {
  font-style: italic;
  margin: 31px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 1082px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -170px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 514px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-5 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-6 {
    width: 177px;
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 29px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1267px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -125px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 802px;
  }

  .u-section-3 .u-group-1 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-5 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-6 {
    width: 219px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 124px;
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-1 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-2 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-3 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-4 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-5 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-icon-11 {
    margin-top: 5px;
  }

  .u-section-3 .u-group-6 {
    width: 207px;
    min-height: 183px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 14px;
  }
}
.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-4 .u-list-1 {
  width: 766px;
  margin: 47px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(35% - 15px));
  min-height: 1024px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px 0 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

/* .u-section-4 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
} */

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-1 {
  padding: 15px;
}

.u-section-4 .u-icon-2 {
  padding: 15px;
}

.u-section-4 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
  padding: 15px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-4 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-5 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-6 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-7 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-8 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-9 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-10 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-11 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-icon-12 {
  background-image: none;
  padding: 15px;
}

.u-section-4 .u-group-1 {
  width: 334px;
  min-height: 1350px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1320px auto 47px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-icon-13 {
  width: 90px;
  height: 90px;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 2.77778rem;
  margin: 19px auto 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 1rem;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 20px 51px 21px 49px;
}

.u-section-4 .u-text-15 {
  font-size: 1.11111rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}
u.u-section-4 p {
  position: relative;
}
.u-section-4 button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: 2px solid #b3b3b3 !important;
  padding: 5px 10px;
  border-radius: 5px;
}
@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-4 .u-list-1 {
    width: 521px;
    margin-top: 55px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1069px;
  }

  .u-section-4 .u-group-1 {
    width: 378px;
    min-height: 1092px;
    margin-top: -1092px;
  }

  .u-section-4 .u-icon-13 {
    padding: 19px;
  }

  .u-section-4 .u-btn-2 {
    border-bottom-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1273px;
  }

  .u-section-4 .u-image-1 {
    height: 307px;
  }

  .u-section-4 .u-image-2 {
    height: 307px;
  }

  .u-section-4 .u-image-3 {
    height: 307px;
  }

  .u-section-4 .u-image-4 {
    height: 307px;
  }

  .u-section-4 .u-group-1 {
    min-height: 435px;
    margin-top: 41px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 16px 30px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3300px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 405px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-2 {
    height: 405px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-3 {
    height: 405px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-4 {
    height: 405px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2367px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 270px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 270px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 270px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 1.5rem;
  }
}
.u-section-5 {
  background: #1c90a5;
  background-position: 50% 50%;
  min-height: 647px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 21px 56px;
}

.u-section-5 .u-image-1 {
  min-height: 647px;
  background-image: url("images/about.jpg");
  background-position: 13.25% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 533px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-5 .u-image-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 482px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 458px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-1 {
    padding: 60px 50px 30px 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 592px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 55px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 373px;
  }
}
.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 97px 0;
}

.u-section-6 .u-text-2 {
  width: 719px;
  margin: 12px auto 0;
}

.u-section-6 .u-image-1 {
  height: 0px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(35% - 24px));
  min-height: 261px;
  grid-gap: 32px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.2);
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.2);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.2);
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0px auto 20px;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.2);
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 447px auto 0;
  padding: 20px 107px 22px 106px;
}

.u-section-6 .u-text-11 {
  text-align: left;
  margin: 36px auto 60px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-6 .u-list-1 {
    width: 868px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 240px;
  }

  .u-section-6 .u-text-4 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 4.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 374px;
  }

  .u-section-6 .u-list-1 {
    width: 631px;
    margin-top: -854px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 427px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 473px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 392px;
    margin-top: 395px;
  }

  .u-section-6 .u-list-1 {
    width: 488px;
    margin-top: -756px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 369px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 544px;
    margin-top: 800px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 280px;
    margin-top: -959px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 726px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 273px;
    padding-right: 86px;
    padding-bottom: 21px;
    padding-left: 85px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 42px;
  }
}

.mission .u-sheet-1 {
  min-height: fit-content;
}

.mission .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 75px auto 0;
}

.mission .u-list-1 {
  margin-top: 69px;
  margin-bottom: 60px;
}

.mission .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33% - 19px));
  min-height: fit-content;
  grid-gap: 38px;
}

.mission .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.mission .u-container-layout-1 {
  padding: 30px;
}

.mission .u-image-1 {
  width: 100px;
  height: 100px;
  background-image: url("images/c7598ebd-bca1-4e08-9c58-06e72596b277.jpeg");
  background-position: 50% 50%;
  margin: 20px 377px 0 0;
}

.mission .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.mission .u-text-3 {
  font-style: normal;
  margin: 25px 0 0;
}

.mission .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: 30px auto 0 0;
}

.mission .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.mission .u-container-layout-2 {
  padding: 30px;
}

.mission .u-image-2 {
  width: 100px;
  height: 100px;
  background-image: url("images/394227a2-4491-4f80-a7cf-354a4a86a284.jpeg");
  background-position: 50% 50%;
  margin: 20px 377px 0 0;
}

.mission .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.mission .u-text-5 {
  font-style: normal;
  margin: 25px 0 0;
}

.mission .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: 30px auto 0 0;
}

.mission .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.mission .u-container-layout-3 {
  padding: 30px;
}

.mission .u-image-3 {
  width: 100px;
  height: 100px;
  background-image: url("images/f55136f6-d776-4bbe-ad60-ade366e5ad89.jpeg");
  background-position: 50% 50%;
  margin: 20px 377px 0 0;
}

.mission .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.mission .u-text-7 {
  font-style: normal;
  margin: 25px 0 0;
}

.mission .u-icon-3 {
  width: 24px;
  height: 24px;
  margin: 30px auto 0 0;
}

.mission .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.mission .u-container-layout-4 {
  padding: 30px;
}

.mission .u-image-4 {
  width: 100px;
  height: 100px;
  background-image: url("images/pexelsphoto3149942.jpeg");
  background-position: 50% 50%;
  margin: 20px 377px 0 0;
}

.mission .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.mission .u-text-9 {
  font-style: normal;
  margin: 25px 0 0;
}

.mission .u-icon-4 {
  width: 24px;
  height: 24px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .mission .u-sheet-1 {
    min-height: 1185px;
  }

  .mission .u-list-1 {
    margin-bottom: -206px;
  }

  .mission .u-repeater-1 {
    min-height: 508px;
  }
}

@media (max-width: 991px) {
  .mission .u-sheet-1 {
    min-height: 1891px;
  }

  .mission .u-list-1 {
    margin-bottom: -146px;
  }

  .mission .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .mission .u-sheet-1 {
    min-height: 1500px;
  }

  .mission .u-text-1 {
    font-size: 3rem;
  }

  .mission .u-list-1 {
    margin-bottom: -178px;
  }

  .mission .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mission .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mission .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mission .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .mission .u-sheet-1 {
    min-height: 892px;
  }

  .mission .u-text-1 {
    font-size: 2.25rem;
  }

  .mission .u-list-1 {
    margin-bottom: -52px;
  }

  .mission .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mission .u-image-1 {
    margin-right: 220px;
  }

  .mission .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mission .u-image-2 {
    margin-right: 220px;
  }

  .mission .u-text-4 {
    font-size: 1.5rem;
  }

  .mission .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mission .u-image-3 {
    margin-right: 220px;
  }

  .mission .u-text-6 {
    font-size: 1.5rem;
  }

  .mission .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mission .u-image-4 {
    margin-right: 220px;
  }

  .mission .u-text-8 {
    font-size: 1.5rem;
  }
}

.u-section-7 {
  background-image: none;
  padding-bottom: 100px;
}

.u-section-7 .u-sheet-1 {
  min-height: 67px;
}

.u-section-7 .u-list-1 {
  width: 403px;
  margin: 70px auto 0 8px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 627px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-list-2 {
  width: 456px;
  margin: -627px auto -38px 556px;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 627px;
  grid-gap: 29px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-7 .u-text-7 {
  margin: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-7 .u-text-8 {
  margin: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-7 .u-text-9 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-list-2 {
    margin-right: 0;
    margin-bottom: -517px;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-7 .u-list-1 {
    margin-left: auto;
  }

  .u-section-7 .u-list-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 7px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 13px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 526px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-list-2 {
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
.u-section-8 {
  background-image: url("images/bg-7.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 794px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 305px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 151px 0 0;
}

.u-section-8 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
  padding: 15px;
}

.u-section-8 .u-icon-2 {
  height: 100%;
  padding: 15px;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  padding: 15px;
}

.u-section-8 .u-icon-4 {
  height: 100%;
  padding: 15px;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 538px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 30px 50px;
}

.u-section-8 .u-form-1 {
  height: 347px;
  margin: 0;
}

.u-section-8 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-8 .u-text-6 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-3 {
  border-style: solid;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 61px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
}

.contact {
  background-image: none;
}

.contact .u-sheet-1 {
  min-height: 629px;
}

.contact .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact .u-layout-cell-1 {
  min-height: 306px;
}

.contact .u-container-layout-1 {
  padding: 10px;
}

.contact .u-icon-1 {
  margin: 25px auto 0 0;
}

.contact .u-text-1 {
  margin: 15px auto 0 0;
}

.contact .u-icon-2 {
  margin: 30px 0 0;
}

.contact .u-text-2 {
  margin: 20px 0 0;
}

.contact .u-layout-cell-2 {
  min-height: 250px;
}

.contact .u-container-layout-2 {
  padding: 10px;
}

.contact .u-icon-3 {
  margin: 25px auto 0 0;
}

.contact .u-text-3 {
  margin: 15px auto 0 0;
}

.contact .u-icon-4 {
  margin: 30px 0 0;
}

.contact .u-text-4 {
  margin: 20px auto 0 0;
}

.contact .u-layout-cell-3 {
  min-height: 259px;
}

.contact .u-container-layout-3 {
  padding: 30px;
  margin-top: -50px;
}

.contact .u-layout-cell-4 {
  min-height: 509px;
}

.contact .u-container-layout-4 {
  padding: 30px;
}

.contact .u-text-5 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.contact .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
}

.contact .u-form-1 {
  margin: 30px auto 0 0;
}

.contact .u-btn-1 {
  border-style: solid;
}
.contact .u-icon-1 a,
.contact .u-icon-2 a,
.contact .u-icon-3 a,
.contact .u-icon-4 a {
  color: #333;
}
iframe {
  border: 1px solid #1c90a5;
  background: #fff;
  padding: 10px;
}

@media (max-width: 1199px) {
  .contact .u-sheet-1 {
    min-height: 540px;
  }
  .contact .u-container-layout-3 {
    margin-top: -50px;
  }
  .contact .u-icon-1 {
    margin-top: 0;
  }

  .contact .u-icon-2 {
    margin-top: 5px;
    margin-right: auto;
  }

  .contact .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .contact .u-layout-cell-2 {
    min-height: 306px;
  }

  .contact .u-icon-3 {
    margin-top: 0;
  }

  .contact .u-layout-cell-3 {
    min-height: 214px;
  }

  .contact .u-layout-cell-4 {
    min-height: 420px;
  }
}

@media (max-width: 991px) {
  .contact .u-sheet-1 {
    min-height: 1145px;
  }

  .contact .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .contact .u-layout-cell-1 {
    min-height: 256px;
  }

  .contact .u-icon-2 {
    margin-top: 30px;
  }

  .contact .u-layout-cell-2 {
    min-height: 100px;
  }

  .contact .u-layout-cell-3 {
    min-height: 328px;
  }

  .contact .u-layout-cell-4 {
    min-height: 100px;
  }
  .contact .u-container-layout-3 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .contact .u-sheet-1 {
    min-height: 1304px;
  }

  .contact .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .contact .u-layout-cell-1 {
    min-height: 100px;
  }

  .contact .u-layout-cell-3 {
    min-height: 246px;
  }

  .contact .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .contact .u-sheet-1 {
    min-height: 1174px;
  }

  .contact .u-layout-cell-3 {
    min-height: 155px;
  }

  .contact .u-text-5 {
    font-size: 1.5rem;
  }
}

/* Navigation */
.navbar a {
  margin-right: 30px;
}
.navbar a:hover {
  color: #1c90a5;
}
.navbar a:hover .underline {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #1c90a5;
  animation-name: example;
  animation-duration: 0.5s;
}
@keyframes example {
  0% {
    width: 10%;
  }

  100% {
    width: 100%;
  }
}
.navbar a.active {
  color: #1c90a5 !important;
  font-weight: bold;
}
.navbar a.active .underline {
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #1c90a5;
}
@media screen and (max-width: 678px) {
  .navbar a.active .underline {
    width: 0px;
    height: 0px;
    border-radius: 5px;
    background: #1c90a5;
  }
}

/* Navigation */
/* back */
#back-to-top {
  display: none;
}
#back-to-top a {
  background: #1c90a5;
  padding: 20px;
  color: #fff;

  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: fixed;
  right: 0;
  bottom: 30px;
}
.back a svg {
  height: 50px !important;
}
/* back */

/* contact2 */
.cont {
  min-height: 576px;
}

.cont .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.cont .u-layout-cell-1 {
  min-height: 576px;
}

.cont .u-container-layout-1 {
  padding: 30px;
}

.cont .u-text-1 {
  font-weight: 700;
  font-size: 2rem;
  color: #333 !important;
  text-transform: none;
  margin: 0 auto;
}

.cont .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.cont .u-form-group-4 {
  margin-left: 0;
}
.cont .u-form-group input {
  border: 1px solid #333 !important;
  border-radius: 5px;
}
.cont .u-form-group textarea {
  border: 1px solid #333 !important;
  border-radius: 5px;
}
.cont .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.cont .u-layout-cell-2 {
  min-height: 576px;
}

.cont .u-container-layout-2 {
  padding: 30px;
  background: #333;
}

.cont .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.cont .u-text-3 {
  margin: 20px 0 0;
}

.cont .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.cont .u-text-5 {
  margin: 18px 31px 0;
}

.cont .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.cont .u-text-7 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 30px 0;
}

.cont .u-layout-cell-3 {
  min-height: 576px;
}

.cont .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .cont {
    min-height: 475px;
  }

  .cont .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .cont .u-layout-cell-1 {
    min-height: 475px;
  }

  .cont .u-layout-cell-2 {
    min-height: 475px;
  }

  .cont .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .cont .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .cont .u-layout-cell-3 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .cont {
    min-height: 364px;
  }

  .cont .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .cont .u-layout-cell-1 {
    min-height: 100px;
  }

  .cont .u-layout-cell-2 {
    min-height: 100px;
  }

  .cont .u-layout-cell-3 {
    min-height: 364px;
  }
}

@media (max-width: 767px) {
  .cont {
    min-height: 919px;
  }

  .cont .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .cont .u-container-layout-1 {
    padding-right: 60px;
    padding-left: 10px;
  }

  .cont .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cont .u-layout-cell-3 {
    min-height: 498px;
  }

  .cont .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .cont {
    min-height: 616px;
  }

  .cont .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .cont .u-container-layout-1 {
    padding-right: 50px;
  }

  .cont .u-layout-cell-3 {
    min-height: 314px;
  }
}

/* tabs */
.tabs {
  background-image: none;
}
.tabs a {
  text-decoration: none;
}
.tabs .u-sheet-1 {
  min-height: 636px;
}

.tabs .u-text-1 {
  font-size: 0.9rem;
  font-weight: 700;
}

.tabs .u-tabs-1 {
  min-height: fit-content !important;
  margin-top: 72px;
  margin-bottom: 53px;
  height: auto;
}

.tabs .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.tabs .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.tabs .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}
.tabs ul {
  display: flex !important;
}
.tabs ul li a {
  font-size: 12px !important;
}
.tabs .u-tab-pane-1 {
  background-image: none;
}

.tabs .u-container-layout-1 {
  padding: 30px;
  height: fit-content !important;
}
.tabs .u-list-item {
  height: fit-content !important;
}
.tabs .u-repeater-1 {
  grid-template-columns: repeat(3, calc(32.5% - 15px));
  min-height: fit-content !important;
  grid-gap: 30px;
}
.tabs button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: 2px solid #b3b3b3 !important;
  padding: 5px 10px;
  border-radius: 5px;
}
.tabs .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
}

.tabs .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 306px 0 0;
}

.tabs .u-text-4 {
  margin: 32px 306px 0 0;
}

.tabs .u-tab-pane-2 {
  background-image: none;
}

.tabs .u-container-layout-2 {
  padding: 30px;
}

.tabs .u-text-5 {
  line-height: 1.8;
  margin: -30px 0 -15px;
}

.tabs .u-tab-pane-3 {
  background-image: none;
}

.tabs .u-container-layout-3 {
  padding: 30px;
}

.tabs .u-text-6 {
  font-weight: 700;
  margin: 72px auto 0 0;
}

.tabs .u-text-7 {
  margin: 20px auto 0 0;
}

.tabs .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .tabs .u-text-2 {
    margin-right: 0;
  }

  .tabs .u-text-3 {
    margin-right: 106px;
  }

  .tabs .u-text-4 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .tabs .u-text-3 {
    margin-right: 0;
  }

  .tabs .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .tabs .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabs .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabs .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .tabs .u-text-1 {
    font-size: 2.25rem;
  }

  .tabs ul {
    flex-direction: column !important;
  }
  .tabs ul li {
    margin-top: -30px !important;
  }
}

@media (max-width: 767px) {
  .tabs .u-sheet-1 {
    min-height: 3300px;
  }

  .tabs .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .tabs .u-image-1 {
    height: 405px;
  }

  .tabs .u-text-1 {
    font-size: 1.125rem;
  }

  .tabs .u-text-2 {
    font-size: 1.875rem;
  }

  .tabs .u-image-2 {
    height: 405px;
  }

  .tabs .u-text-4 {
    font-size: 1.125rem;
  }

  .tabs .u-text-5 {
    font-size: 1.875rem;
  }

  .tabs .u-image-3 {
    height: 405px;
  }

  .tabs .u-text-7 {
    font-size: 1.125rem;
  }

  .tabs .u-text-8 {
    font-size: 1.875rem;
  }

  .tabs .u-image-4 {
    height: 405px;
  }

  .tabs .u-text-10 {
    font-size: 1.125rem;
  }

  .tabs .u-text-11 {
    font-size: 1.875rem;
  }

  .tabs .u-group-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .tabs .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
